:root {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
}

html,
body {
  height: 100%;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
  background: var(--black) url(./images/desktopBack.svg) no-repeat center/cover;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  text-align: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.d-sm-none {
  display: none;
}

.container {
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;

}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 1.5rem;

  position: relative;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;

  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

#selo {
  position: absolute;
  z-index: 1;

  top: -15px;
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--gray);
  margin-top: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

p {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

ul {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (min-width: 460px) {
  main {
    background-size: contain;

    width: 80vw;
    height: 0vh;

    max-height: 560px;

    margin-top: -5px;

    display: grid;
    align-items: center;
    justify-content: center;

    position:relative;
  }

  .container {
    background: contain;
  }

  .avatar{
    margin: 4.5rem auto 1.5rem;
  }
  .d-sm-none {
    display:flex;
    margin: 0 auto -2px;
    z-index: 2;
  }

  #quebra {
    margin-bottom: -16px;
    z-index: 1;
  }
}
